<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="images/lyneweb.png" type="image/x-icon" />
  </head>
  <body>
    <div class="form-container">
      <h2>Password Reset</h2>
      <form id="resetForm">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Your username"
          required
        />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Your email"
          required
        />
        <button type="submit">Reset Password</button>
      </form>
      <p>Remember your password? <a href="login.html">Login here</a>.</p>
    </div>
    <!-- Link To JS -->
    <script src="js/main.js"></script>
    <script src="js/reset.js"></script>
  </body>
</html>
