<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="images/lyneweb.png" type="image/x-icon" />
  </head>
  <body style="background-color: aliceblue">
    <div class="privacy-c container">
      <h2 class="heading">Privacy Policy</h2>
      <p>
      This Privacy Policy outlines how Lyne ("we," "our," or "us") collects, uses, maintains, and discloses information collected from users ("you" or "your") of our website, www.lynemtb.co.uk, and any related services, including but not limited to purchasing products, signing up for newsletters, or engaging with our social media accounts.
      </p>
      <p>
        We may collect personal identification information from you in a variety of ways, including when you visit our website, subscribe to our newsletter, or fill out a form. The types of personal information we may collect include:

Name
Email address
We may also collect non-personal identification information about you whenever you interact with our website. This may include the browser name, the type of computer or device you are using, and technical information about your means of connection to our website.


      </p>
      <p>
        We collect and use your personal information for the following purposes:

To send periodic emails: We may use the email address you provide to send you information and updates pertaining to your order, as well as occasional company news, updates, related product or service information, etc. If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.
      </p>
      <p>
        We adopt appropriate data collection, storage, and processing practices and security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information, username, password, transaction information, and data stored on our website
      </p>
      <p>
        We do not sell, trade, or rent your personal identification information to others.
      </p>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
