<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Return Policy</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="images/lyneweb.png" type="image/x-icon" />
  </head>
  <body style="background-color: aliceblue">
    <div class="return-c container">
      <h2 class="heading">Return and shipping Policy</h2>
      <p>
        At Lyne, we strive to deliver your order in a timely manner and at an affordable cost. We currently ship all orders via Royal Mail to destinations within [Your Shipping Locations].

Shipping Times: Orders are typically processed and shipped within [X] business days. Once shipped, delivery times may vary depending on your location.
Shipping Costs: Shipping costs will be calculated at checkout based on the weight and destination of your order.
Tracking: Tracking information will be provided for all orders, allowing you to monitor the status of your delivery.
Please note that shipping times may be affected by factors beyond our control, such as postal delays or customs processing. If you have any questions or concerns about the status of your order, please contact us at support@lynemtb.co.uk
      </p>
      <p>
        At Lyne, we want you to be completely satisfied with your purchase. However, we do not offer returns or exchanges for change of mind or sizing issues.

In the rare event that you receive a defective or incorrect item, please contact us at support@lynemtb.co.uk within [X] days of receiving your order. We will work with you to resolve the issue promptly and ensure your satisfaction.
      </p>
      <p>
        If you have any questions or concerns about our shipping and returns policy, please don't hesitate to contact us at support@lynemtb.co.uk. Our customer support team is here to assist you and ensure that your shopping experience with Lyne is a positive one.
      </p>
      
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
