<!-- reviews.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reviews</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="images/lyneweb.png" type="image/x-icon" />
    <!-- Additional meta tags or other head content as needed -->
  </head>
  <body>
    <div class="reviews-c container">
      <!-- Your reviews page content goes here -->
      <h1 class="heading">Customer Reviews</h1>
      <div class="review-box">
        
        <h2>Toby</h2>
        <p>
          The products i have brought from lyne are amazing. my hoodie is perfect for riding in but also going out to meet with friends. would reccomend if you can buy.
        </p>
      </div>
      <div class="review-box">
        
        <h2>Finn</h2>
        <p>
          EWOW! Lyne tees are amazing to wear they have a very comfortable material I would defo recommend buying if you have the opportunity
        </p>
      </div>
      <div class="review-box">
        
        <h2>Reece</h2>
        <p>
          I used to spend all my money on expensive gear ot wear while riding but now i dont have to and i can weear my gear even if im not riding.
        </p>
      </div>
      <div class="review-box">
        
        <h2>Ben</h2>
        <p>
          I saw this brand on my social media and thought i would try it out and it was for sure a good idea. the shipping time was quick and mt products are perfect
        </p>
      </div>
    </div>
    <!-- Additional content -->
    <script src="js/main.js"></script>
  </body>
</html>
