<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set New Password</title>
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="images/lyneweb.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="form-container">
      <h2>Set Your New Password</h2>
      <form id="updatePasswordForm">
        <input type="hidden" id="token" name="token" value="{{ token }}" />
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="Enter new password"
          required
        />
        <button type="button" id="updatePasswordBtn">Update Password</button>
      </form>

      <div id="message"></div>
    </div>
    <script>
      document
        .getElementById("updatePasswordBtn")
        .addEventListener("click", function () {
          const token = document.getElementById("token").value;
          const newPassword = document.getElementById("newPassword").value;

          fetch("/update_password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ token, newPassword }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message) {
                console.log("Password updated successfully");
                document.getElementById("message").textContent =
                  "Password updated successfully!";
                window.location.href = "/login.html";
              } else {
                console.error("Password update failed");
                document.getElementById("message").textContent =
                  "Failed to update password: " + data.error;
              }
            })
            .catch((error) => {
              console.error("Error updating password:", error);
              document.getElementById("message").textContent =
                "Error updating password: Please try again or contact support.";
            });
        });
    </script>
    <script>
      window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get("token");
        console.log("Token from URL:", token); // Checks if the token is correct
        document.getElementById("token").value = token;
      };
    </script>
  </body>
</html>
