<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms & Conditions - Wine Ecommerce</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body style="background-color: aliceblue">
    <div class="terms-c container">
      <h2 class="heading">Terms & Conditions</h2>
      <p>
        Welcome to our platform! By accessing and using our services, you agree
        to abide by our Terms & Conditions. These terms govern your interaction
        with our website, ensuring a fair and transparent experience for
        everyone.
      </p>
      <p>
        When making a purchase, you confirm that you're at least 18 years old.
        All transactions are subject to our approval. We reserve the right to
        refuse service or cancel orders at our discretion.
      </p>
      <p>
        The content on our website is meant for general information. We strive
        for accuracy but do not guarantee it. We hold no liability for any
        inaccuracies or errors. Your use of information from our site is at your
        own risk.
      </p>
      <p>
        We may modify these Terms & Conditions at any time. It's your
        responsibility to stay updated. Continued use of our services implies
        acceptance of any changes. If you disagree with our terms, please
        refrain from using our platform.
      </p>
      <p>
        We respect intellectual property rights. Content on our site is either
        owned by us or used with permission. Unauthorized use is prohibited. For
        concerns or clarifications, contact us. We appreciate your cooperation
        in maintaining a positive user experience.
      </p>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
